<div class="payment-error">
  <div class="error-header">
  </div>

  <div class="error-content">
    <div class="error-message">
      <h2 class="error-title">Lo sentimos no pudimos procesar tu pago</h2>
      <p class="error-description">Intenta nuevamente o consulta con tu banco</p>
    </div>

    <div class="error-icon">
      <div class="icon-circle">
        <img src="assets/icons/error.svg" alt="Payment Error Icon">
      </div>
    </div>
  </div>

  <div class="error-actions">
    <button pButton class="retry-button" label="Reintentar" (click)="retryPayment()">
    </button>
  </div>
</div>