.categories-carousel {
  width: 100%;
  position: relative;
  
  swiper-container {
    width: 100%;
    
    @media screen and (min-width: 1024px) {
      ::ng-deep swiper-slide {
        width: 100% !important;
        max-width: 256px !important;
        margin-right: 3.5rem !important;
      }
    }
  }
  
  ::ng-deep swiper-slide {
    height: auto;
    display: flex;
    width: auto !important;
    margin-right: 1.5rem !important;
  }
} 