.p-component {
    font-family: var(--main-font) !important;
}

.p-button {
    font-family: var(--main-font) !important;
}

.p-inputtext {
    font-family: var(--main-font) !important;
}

.p-datatable {
    font-family: var(--main-font) !important;
}

.p-dialog {
    font-family: var(--main-font) !important;
}

.p-toast {
    font-family: var(--main-font) !important;
} 