.offers-carousel {
  width: 100%;
  overflow: hidden;
  
  swiper-container {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 0;
  }
  
  swiper-slide {
    width: auto;
    height: auto;
    padding: 0.5rem 0;
  }
} 