.category-card {
  width: 130px;
  height: 182px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  
  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .category-image {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease;
    }
  }
  
  .category-title {
    font-size: 1.4rem;
    color: #000000;
    text-align: left;
    margin: .5rem;
  }
  
  .category-action {
    font-size: 1.2rem;
    color: #666666;
    margin-bottom: 1.6rem;
  }
}

@media screen and (min-width: 768px) {
  .category-card {
    width: 100%;
    height: auto;
    
    .category-title {
      font-size: 1.6rem;
      margin: 1rem 0;
    }
    
    .category-action {
      font-size: 1.4rem;
      margin-bottom: 1.8rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .category-card {
    .category-image {
      width: clamp(200px, calc(256 * 100vw / 1440), 256px);
      aspect-ratio: 1;
    }
    
    .category-title {
      font-size: clamp(1.6rem, calc(1.8 * 100vw / 1440), 1.8rem);
    }
    
    .category-action {
      font-size: clamp(1.4rem, calc(1.6 * 100vw / 1440), 1.6rem);
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .category-card {
    .category-image {
      width: 256px;
    }
    
    .category-title {
      font-size: 1.8rem;
    }
    
    .category-action {
      font-size: 1.6rem;
    }
  }
}