<div class="home">
    <section class="banner-section">
        <app-banner-carousel></app-banner-carousel>
    </section>
    <div class="home-container">
        <section class="categories-section">
            <h2>Categorías</h2>
            <app-categories-carousel></app-categories-carousel>
        </section>

        <section class="featured-products-section">
            <app-products-grid 
                title="Ofertas" 
                viewAllLink="/ofertas" 
                [limit]="5"
                [itemsPerRow]="5"
                [products]="productsOnSale">
            </app-products-grid>
        </section>

        <section class="official-stores-section">
            <app-official-stores></app-official-stores>
        </section>

        <section class="last-visited-section">
            <app-products-grid 
                title="Basados en tu última visita" 
                viewAllLink="/ultima-visita" 
                [limit]="5"
                [itemsPerRow]="5">
            </app-products-grid>
        </section>
    </div>
</div>