<div class="home">
    <section class="banner-section">
        <app-banner-carousel></app-banner-carousel>
    </section>
    <div class="home-container">
        <section class="categories-section">
            <h2>Categorías</h2>
            <app-categories-carousel></app-categories-carousel>
        </section>

        <section class="featured-products-section">
            <app-products-grid 
                title="Ofertas"
                viewAllLink="/ofertas" 
                [limit]="4">
            </app-products-grid>
        </section>
    </div>
</div>